<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ManufactureServiceSoapBinding" />
                <binding name="MaterialServiceSoapBinding" />
                <binding name="SocksServiceSoapBinding" />
                <binding name="TypeServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/socks-web/soap/materialservice"
                binding="basicHttpBinding" bindingConfiguration="MaterialServiceSoapBinding"
                contract="MaterialService.MaterialService" name="ImplementationMaterialServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/manufactureservice"
                binding="basicHttpBinding" bindingConfiguration="ManufactureServiceSoapBinding"
                contract="ManufactureService.ManufactureService" name="ImplementationManufactureServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/socksservice"
                binding="basicHttpBinding" bindingConfiguration="SocksServiceSoapBinding"
                contract="SocksService.SocksService" name="ImplementationSocksServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/typeservice"
                binding="basicHttpBinding" bindingConfiguration="TypeServiceSoapBinding"
                contract="TypeService.TypeService" name="ImplementationTypeServicePort" />
        </client>
    </system.serviceModel>
</configuration>
